In [2]:
pip install unidecode

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: unidecode in c:\users\lenovo\appdata\roaming\python\python311\site-packages (1.3.7)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
data = pd.read_csv('../input/Input_file.csv')
data.head(10)

,CDB_ID,Party_NumberĿ,Account(Customer_Name),Country_Code_Only
0,1,230401,FLEXERA SOFTWARE INC,US
1,2,230402,"TIANJIN SWCX TECHNOLOGY CORP., LTD",CN
2,3,230403,SUNGARD AVAILABILITY SERVICES,IN
3,4,230404,CLINSE LABS PRIVATE LIMITED,IN
4,5,230405,MYLAN INC,US
5,6,230406,COCHIN SHIPYARD LTD,IN
6,7,230407,KOTAK MAHINDRA GENERAL INSURANCE LTD,IN
7,8,230408,GUJARAT GAS COMPANY LIMITED,IN
8,9,230409,LLOYDS BANKING GROUP,IN
9,10,230410,RAJCOMP INFORMATION SERVICES LTD,IN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5442 entries, 0 to 5441
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CDB_ID                  5442 non-null   int64
 1   Party_NumberĿ           5442 non-null   int64
 2   Account(Customer_Name)  5442 non-null   object
 3   Country_Code_Only       5442 non-null   object
dtypes: int64(2), object(2)
memory usage: 170.2+ KB

In [5]:
data

,CDB_ID,Party_NumberĿ,Account(Customer_Name),Country_Code_Only
0,1,230401,FLEXERA SOFTWARE INC,US
1,2,230402,"TIANJIN SWCX TECHNOLOGY CORP., LTD",CN
2,3,230403,SUNGARD AVAILABILITY SERVICES,IN
3,4,230404,CLINSE LABS PRIVATE LIMITED,IN
4,5,230405,MYLAN INC,US
...,...,...,...,...
5437,37164,235838,JHU PRESS,US
5438,37191,235839,LG CHEM KOREA,KR
5439,37218,235840,FPT TELECOM INTERNATIONAL CO LTD,VN
5440,37245,235841,VIRGIN MANAGEMENT LTD,GB
5441,37272,235842,MITSUI CO SEAFOODSLTD,JP

In [6]:
# Dimension of the dataset
print(np.shape(data))

(5442, 4)

In [7]:
# Find null values
data.isnull().sum()

CDB_ID                    0
Party_NumberĿ             0
Account(Customer_Name)    0
Country_Code_Only         0
dtype: int64

## Remove White Space Characters:
To remove white space characters (leading, trailing) from the 'Account(Customer_Name)' column, we can use .str.strip():

In [8]:
# Find the row with CDB_ID == 26
# specific_row = data.loc[data['CDB_ID'] == 26]
# specific_row

In [9]:
# Create a boolean mask to check for leading or trailing white spaces
mask = data['Account(Customer_Name)'].str.strip() != data['Account(Customer_Name)']

# Use the mask to filter and print the rows with extra white spaces
rows_with_extra_spaces = data[mask]
rows_with_extra_spaces

,CDB_ID,Party_NumberĿ,Account(Customer_Name),Country_Code_Only
23,26,230424,OLAM INFORMATION SERVICES PRIVATE LTD,IN
205,248,230606,"GALAXYCORE (ZHEJIANG) CO.,LTD.",CN
531,746,230932,VALTORI VAKA,FI
723,1100,231124,KING YUAN ELECTRONICS CO LTD,TW
1026,1783,231427,DAWNING TECHNOLOGY INC,TW
1810,4136,232211,PHOENIX PIONEER TECHNOLOGY CO LTD,TW
1828,4210,232229,APACER TECHNOLOGY INC,TW
1832,4218,232233,DAEHWA PHARMACEUTICAL CO LTD,KR
1907,4494,232308,INTERASIA LINES LTD,TW
2159,5530,232560,OPTIMUM TELECOM ALGERIE\t,DZ
2279,5984,232680,AL SOOR FUEL MARKETING CO,KW
2686,7910,233087,TOYOTA LEASING (THAILAND) CO LTD,TH
2819,8681,233220,SJM RESORTS S A,MO
2820,8686,233221,QTERMINALS,QA
3026,10127,233427,CENTURYLINK PERU S A,EC
3583,14130,233984,"CSI Solar Power Group Co.,LTD",CN
3703,15158,234104,SDTM SOCIÉTÉ MAROCAINE DE DISTRIBUTION ET DE T...,MA
3727,15296,234128,FREE-FREE INDUSTRIAL CORP,TW
3758,15605,234159,QATAR RAIL COMPANY,QA
3818,16164,234219,DB FINANCIAL INVESTMENT CO LTD,KR
3850,16491,234251,ARAB BANKING CORP,SA
4261,20601,234662,MANNAI TRADING COMPANY WLL,QA
4346,21542,234747,LETISTE PRAHA A S,CZ
4477,23056,234878,MANE CHILE S A,CL
4894,28521,235295,CERAGEM CO LTD,KR
4958,29523,235359,MEDINA SILVA LTDA,CL
5194,32801,235595,COTEMAR S A DE C V,MX
5251,33731,235652,CHIA TAI CO LTD,TH
5303,34595,235704,VIVOZON PHARMACEUTICAL INC,KR
5373,35689,235774,FINTECH S A,IN

In [10]:
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].str.strip()

In [11]:
# Create a boolean mask to check for leading or trailing white spaces
mask = data['Account(Customer_Name)'].str.strip() != data['Account(Customer_Name)']

# Use the mask to filter and print the rows with extra white spaces
rows_with_extra_spaces = data[mask]
rows_with_extra_spaces

Empty DataFrame
Columns: [CDB_ID, Party_NumberĿ, Account(Customer_Name), Country_Code_Only]
Index: []

## Remove UMLAUT Characters:
If you want to remove UMLAUT characters like "ü," you can use Python's unidecode library to convert them to their closest ASCII equivalent:
### Use the unidecode function to transliterate Umlaut characters in the 'Account(Customer_Name)' column
### This code will replace Umlaut characters with their closest English alphabet equivalents. For example, "ü" will be replaced with "u," "ä" with "a," and "ö" with "o."

In [12]:
# Find the row with CDB_ID == 12345
specific_row = data.loc[data['CDB_ID'] == 11606]

# Print the specific row
# print(specific_row)

# Find the value of the column in the specific row
customer_name = specific_row.at[specific_row.index[0], 'Account(Customer_Name)']
print(customer_name)

EDEKA HANDELSGESELSCHAFT SÜDWEST

In [13]:
# Find the row with CDB_ID == 13958
specific_row = data.loc[data['CDB_ID'] == 8851]

# Print the specific row
# print(specific_row)

# Find the value of the column in the specific row
customer_name = specific_row.at[specific_row.index[0], 'Account(Customer_Name)']
print(customer_name)

COMPANHIA DE DESENVOLVIMENTO DO VALE DO SÃO FRANCISCO

In [14]:
from unidecode import unidecode

In [15]:
# Create a boolean mask to check for Umlaut characters
mask = data['Account(Customer_Name)'].apply(lambda x: x != unidecode(x))

# Use the mask to filter and print the rows with Umlaut characters
rows_with_umlaut = data[mask]
rows_with_umlaut

,CDB_ID,Party_NumberĿ,Account(Customer_Name),Country_Code_Only
154,186,230555,STADTWERKE TÜBINGEN GMBH,DE
384,496,230785,Ayuntamiento de Málaga - Centro Municipal de I...,ES
601,878,231002,BANQUE NATIONALE POUR LE DÉVELOPPEMENT ECONOMIQUE,SN
604,881,231005,CVC BRASIL OPERADORA E AGÊNCIA DE VIAGENS S/A,BR
737,1127,231138,MILLI SAVUNMA BAKANLIĞI,TR
...,...,...,...,...
5240,33579,235641,COMPAGNIE DES BAUXITES DE GUINÉE,CI
5258,33783,235659,MTSS II IP-INSTITUTO DE INFORMÁTICA,PT
5270,33955,235671,HAYAT EGYPT HYGIENIC PRODUCTS S.A.E.,EG
5297,34497,235698,TCU TRIBUNAL DE CONTAS DA UNIÃO,BR
5304,34598,235705,NEMZETI ÚTDÍJFIZETÉSI SZOLGÁLTATÓ ZRT,HU

In [16]:
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].apply(unidecode)

In [17]:
# Create a boolean mask to check for Umlaut characters
mask = data['Account(Customer_Name)'].apply(lambda x: x != unidecode(x))

# Use the mask to filter and print the rows with Umlaut characters
rows_with_umlaut = data[mask]
rows_with_umlaut

Empty DataFrame
Columns: [CDB_ID, Party_NumberĿ, Account(Customer_Name), Country_Code_Only]
Index: []

In [18]:
# Find the row with CDB_ID == 12345
specific_row = data.loc[data['CDB_ID'] == 11606]

# Print the specific row
# print(specific_row)

# Find the value of the column in the specific row
customer_name = specific_row.at[specific_row.index[0], 'Account(Customer_Name)']
print(customer_name)

EDEKA HANDELSGESELSCHAFT SUDWEST

## Remove Stop Words:
To remove stop words, you'll need to define a list of stop words and then filter them out from the 'Account(Customer_Name)' column:

In [19]:
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].str.replace('[.,-]', '', regex=True)

In [20]:
# Find the row with CDB_ID == 12345
specific_row = data.loc[data['CDB_ID'] == 4]

# Print the specific row
# print(specific_row)

# Find the value of the column in the specific row
customer_name = specific_row.at[specific_row.index[0], 'Account(Customer_Name)']
print(customer_name)

CLINSE LABS PRIVATE LIMITED

In [21]:
# Convert 'Name' column values to uppercase
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].str.upper()

In [22]:
stop_words = [".",",","PVT","PRIVATE", "LIMITED",'PLC',"and", "THE","INC",'CO','COLTD','LTD','SA', 'S/A','PTE','BHD','CORP','CORPORATION','S', 'DE', 'RL',
              'DE', 'CV','&','COMPANY', 'LTDA','LLC',...]  # Add more stop words as needed

# Remove stop words from the 'Account(Customer_Name)' column
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].apply( lambda x: ' '.join([word for word in x.split() if word not in stop_words]) )

In [23]:
# Find the row with CDB_ID == 12345
specific_row = data.loc[data['CDB_ID'] == 4]

# Print the specific row
# print(specific_row)

# Find the value of the column in the specific row
customer_name = specific_row.at[specific_row.index[0], 'Account(Customer_Name)']
print(customer_name)

CLINSE LABS

## Remove Special Characters:
To remove special characters from the 'Account(Customer_Name)' column, you can use regular expressions and the str.replace() method. For example, to remove all non-alphanumeric characters, you can do:

In [24]:
import re
# Define a regular expression pattern to match all non-alphanumeric characters
special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

# Create a boolean mask to check for the presence of special characters
mask = data['Account(Customer_Name)'].str.contains(special_char_pattern)

# Use the mask to filter and print the rows with special characters
rows_with_special_chars = data[mask]
rows_with_special_chars

,CDB_ID,Party_NumberĿ,Account(Customer_Name),Country_Code_Only
26,32,230427,PT BANK MANDIRI (PERSERO) TBK,ID
46,54,230447,KING FAHD UNIVERSITY OF PETROLEUM MINERALS (KF...,SA
62,71,230463,TECHNICAL AND VOCATIONAL TRAINING [TVTC],SA
81,96,230482,SIEN (QINGDAO) INTEGRATED CIRCUITS,CN
85,101,230486,WEIPU (XIAMEN) SCIENCE &TECHNOLOGY,CN
...,...,...,...,...
5407,36354,235808,INGRAM MICRO MEXICO C/O TRAFFIMEX,US
5415,36570,235816,PERENCO UK [LDN],GB
5417,36624,235818,PERENCO TD [NDJ],GB
5427,36894,235828,SHELL E&P,US
5430,36975,235831,CREDIT SUISSE SECURITIES (CHINA),CN

In [25]:
specific_row = data.loc[data['CDB_ID'] == 657]
specific_row

     CDB_ID  Party_NumberĿ    Account(Customer_Name) Country_Code_Only
480     657         230881  MARSH MCLENNAN COMPANIES                US

In [26]:
data['Account(Customer_Name)'] = data['Account(Customer_Name)'].str.replace(r'[^a-zA-Z0-9\s]', '', regex=True)

In [27]:
special_char_pattern = re.compile(r'[^a-zA-Z0-9\s]')

# Create a boolean mask to check for the presence of special characters
mask = data['Account(Customer_Name)'].str.contains(special_char_pattern)

# Use the mask to filter and print the rows with special characters
rows_with_special_chars = data[mask]
rows_with_special_chars

Empty DataFrame
Columns: [CDB_ID, Party_NumberĿ, Account(Customer_Name), Country_Code_Only]
Index: []

In [28]:
specific_row = data.loc[data['CDB_ID'] == 657]
specific_row

     CDB_ID  Party_NumberĿ    Account(Customer_Name) Country_Code_Only
480     657         230881  MARSH MCLENNAN COMPANIES                US

In [29]:
data.to_csv('../output/cleaned_input.csv', index=False)

In [30]:
data['Account(Customer_Name)'].nunique()

5213