In [17]:
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [18]:
df = pd.read_csv('../input/Dataset for training.csv')
df

,Company Name,Similar Name,Same/Different,Category,Country same or not,Parent same or not,Unnamed: 6
0,HARRIS COUNTY CSCD,HARRIS COUNTY,same,one word missing,same,NaN,NaN
1,HARRIS COUNTY CSCD,HARRIS COUNTY ITC,same,last word different,same,NaN,NaN
2,RICHLAND COUNTY EMERGENCY SERVICES,LANDER COUNTY EMERGENCY SERVICES,different,first word different,same,NaN,NaN
3,CS RECURSOS GEOTERMICO ICE,CS RECURSOS GEOTAARMICO ICE,same,mispell,same,NaN,NaN
4,HARRIS COUNTY ITC,HARRIS COUNTY,same,one word missing,same,NaN,NaN
...,...,...,...,...,...,...,...
423,MITSUI BUSSAN CHEMICALS,MITSUI BUSSAN METALS,different,NaN,NaN,NaN,NaN
424,SUMITOMO MITSUI DS ASSET MANAGEMENT (HK),SUMITOMO MITSUI DS ASSET MANAGEMENT,same,one word missing,NaN,NaN,NaN
425,MITSUI SUMITOMO INSURANCE (CHINA),MITSUI SUMITOMO INSURANCE (THAILAND BRANCH),different,belongs to diffferent region,NaN,NaN,NaN
426,MITSUI SUMITOMO INSURANCE,MITSUI SUMITOMO INSURANCE (CHINA),different,belongs to diffferent region,NaN,NaN,NaN
427,MITSUI SEAFOODS,MITSUISOKO (U ),different,NaN,NaN,NaN,NaN

In [19]:
df.columns

Index(['Company Name', 'Similar Name', 'Same/Different', 'Category',
       'Country same or not', 'Parent same or not', 'Unnamed: 6'],
      dtype='object')

In [20]:
from thefuzz import fuzz

In [21]:
#Function to calculate simple ratio
def calculate_ratio(row):
    return fuzz.ratio(row['Company Name'], row['Similar Name'])

#Function to calculate partial ratio
def calculate_partial_ratio(row):
    return fuzz.partial_ratio(row['Company Name'], row['Similar Name'])


# Function to calculate token sort ratio
def calculate_token_sort_ratio(row):
    return fuzz.token_sort_ratio(row['Company Name'], row['Similar Name'])

# Function to calculate token set ratio
def calculate_token_set_ratio(row):
    return fuzz.token_set_ratio(row['Company Name'], row['Similar Name'])

In [22]:
# Add new columns for simple ratio, partial ratio, token sort ratio and token set ratio
df['Simple Ratio'] = df.apply(calculate_ratio, axis=1)
df['partial Ratio'] = df.apply(calculate_partial_ratio, axis=1)
df['Token Sort Ratio'] = df.apply(calculate_token_sort_ratio, axis=1)
df['Token Set Ratio'] = df.apply(calculate_token_set_ratio, axis=1)

In [23]:
print(df)

                                 Company Name  \
0                          HARRIS COUNTY CSCD
1                          HARRIS COUNTY CSCD
2          RICHLAND COUNTY EMERGENCY SERVICES
3                  CS RECURSOS GEOTERMICO ICE
4                           HARRIS COUNTY ITC
..                                        ...
423                   MITSUI BUSSAN CHEMICALS
424  SUMITOMO MITSUI DS ASSET MANAGEMENT (HK)
425         MITSUI SUMITOMO INSURANCE (CHINA)
426                 MITSUI SUMITOMO INSURANCE
427                           MITSUI SEAFOODS

                                    Similar Name Same/Different  \
0                                  HARRIS COUNTY           same
1                              HARRIS COUNTY ITC           same
2               LANDER COUNTY EMERGENCY SERVICES      different
3                    CS RECURSOS GEOTAARMICO ICE           same
4                                 HARRIS COUNTY            same
..                                           ...            ...
423                         MITSUI BUSSAN METALS      different
424          SUMITOMO MITSUI DS ASSET MANAGEMENT           same
425  MITSUI SUMITOMO INSURANCE (THAILAND BRANCH)      different
426            MITSUI SUMITOMO INSURANCE (CHINA)      different
427                              MITSUISOKO (U )      different

                         Category Country same or not Parent same or not  \
0                one word missing                same                NaN
1             last word different                same                NaN
2            first word different                same                NaN
3                         mispell                same                NaN
4                one word missing                same                NaN
..                            ...                 ...                ...
423                           NaN                 NaN                NaN
424              one word missing                 NaN                NaN
425  belongs to diffferent region                 NaN                NaN
426  belongs to diffferent region                 NaN                NaN
427                           NaN                 NaN                NaN

    Unnamed: 6  Simple Ratio  partial Ratio  Token Sort Ratio  Token Set Ratio
0          NaN            84            100                84              100
1          NaN            86             94                74               87
2          NaN            91             97                91               91
3          NaN            94             92                94               94
4          NaN            90            100                87              100
..         ...           ...            ...               ...              ...
423        NaN            84             82                84               84
424        NaN            93            100                96              100
425        NaN            84             92                78               89
426        NaN            86            100                89              100
427        NaN            60             72                67               67

[428 rows x 11 columns]

In [24]:
# output training_dataset with all fields considered 
# ('Company Name', 'Similar Name', 'Same/Different', 'Category','Country same or not', 'Parent same or not','Unnamed: 6','Simple Ratio', 'partial Ratio', 'Token Sort Ratio', 'Token Set Ratio')
df.to_csv('../output/training_dataset.csv', index=False)

In [25]:
df.columns

Index(['Company Name', 'Similar Name', 'Same/Different', 'Category',
       'Country same or not', 'Parent same or not', 'Unnamed: 6',
       'Simple Ratio', 'partial Ratio', 'Token Sort Ratio', 'Token Set Ratio'],
      dtype='object')

In [26]:
# Drop the specified columns
columns_to_drop = ['Category', 'Country same or not', 'Parent same or not','Unnamed: 6']
df.drop(columns_to_drop, axis=1, inplace=True)

In [27]:
# Replace 'same' with 1 and 'different' with 0
df.replace({'same': 1, 'different': 0}, inplace=True)
df['Same/Different']

0      1
1      1
2      0
3      1
4      1
      ..
423    0
424    1
425    0
426    0
427    0
Name: Same/Different, Length: 428, dtype: int64

In [28]:
# Rename the 'Same/Different' column to 'Target'
df.rename(columns={'Same/Different': 'Target'}, inplace=True)

In [29]:
# output training_dataset with only required fields like 
# ('Company Name', 'Similar Name', 'Same/Different','Simple Ratio', 'partial Ratio', 'Token Sort Ratio', 'Token Set Ratio')
df.to_csv('../output/temp_training_dataset.csv', index=False)